/* start of contact form css */
label {
  display:block;
}
input {
  display:block;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

textarea {
  margin-top: 1em;
}

/* end of contact form css */
